<!doctype html>
<html>
  <head>
    <title>Photos of Blacklion</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <h1>Photos of Blacklion</h1>
      <%= yield %>
    </div>
  </body>
</html>
